
 html {
  scroll-behavior: smooth;
}

body{
       background-color: black;
}

h1 ,h2,h3,h4,h5, p, div{
  color: #12F55A ;
  text-align: center;
  
}

ul{
       list-style:none;
}



.navbar-brand {
color: #12F55A !important;
}


.nav-link {
color: #12F55A !important;
}

.navbar-nav li{
       display: inline-block;
   }



.container-fluid{
       width: calc(80%);
       height: calc(80%);
       margin-top: 10px;
       margin-bottom: 10px;
}



#top-gif{
      
       width: calc(60%);
       height: calc(60%);
       margin-top: 10px;
       margin-bottom: 10px;

}

.center {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
     }

 
#github-icon{
       width: 80px;
       height: 80px;
       color: #344feb;
       margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
       margin-left: 5px;
       
}

#linkedin-icon{
       width: 80px;
       height: 80px;
       color: #344feb;
        margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
      margin-left: 5px;
}

.list-inline{
       width: calc(80%);
       height: calc(80%); 
   
}





#conteiner-carousel{
       width: calc(80%);
       height: calc(80%);
       margin-top: 50px;
       margin-bottom: 50px;
}


