
 html {
  scroll-behavior: smooth;
  height:100%;
}

body{
    background-color: black;
    height:100%;
}

h1 ,h2,h3,h4,h5, p, div{
  color: #12F55A ;
  text-align: center;
  
}

ul{
       list-style:none;
}



.navbar-brand {
color: #12F55A !important;
}


.nav-link {
color: #12F55A !important;
}

.navbar-nav li{
       display: inline-block;
   }



.container-fluid{
       width: calc(80%);
       height: calc(80%);
       margin-top: 10px;
       margin-bottom: 10px;
}



#top-gif{
      
       width: calc(60%);
       height: calc(60%);
       margin-top: 10px;
       margin-bottom: 10px;

}

.center {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
     }

 
#github-icon{
       width: 25%;
       height: 25%;
       color: #344feb;
       margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
       margin-left: 5px;
       
}


#conteiner-carousel{
       float: center;
       width: calc(40%);
       height: calc(40%);
       margin-top: 30px;
       margin-bottom: 30px;
       object-fit: contain;
}


.icons-images{
       width: calc(30%);
       height: calc(30%);
       color: #344feb;
        margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
      margin-left: 5px;
}
.icons-images-social{
       width: 50%;
       height: 15%;
        margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
      margin-left: 5px;
}


/*
aside{
    float:right;
    background-color: #202121;
    color: white;
    overflow: hidden;
    padding: 1%;
    height: auto;
    width: auto;
}

*/
aside{
    float:right;
    color: white;
    overflow: hidden;
    padding: 1%;
    height: 100%;
    width: 30%;
    background-color: black;
}

@media (max-width: 600px) {
  aside {
    /* Styles for small screens */
    float: none;
    width: 100%;
  }
}



.section_container{
       float: center
       width: calc(40%);
       height: calc(40%);
       margin: auto;
       margin-top: 10px;
       margin-bottom: 10px;
       background-color: black;;
}



.contact_image{
       float: center
       max_width: 10%;
       height: 10%;
       margin: auto;
       margin-top: 10px;
       margin-bottom: 10px;
       background-color: black;
}
.profile_img {
    height: 100%;
    width: 100%;
    object-fit: contain;

  }

