
 html {
  scroll-behavior: smooth;
}

body{
       background-color: black;
}

h1 ,h2,h3,h4,h5, p, div{
  color: #12F55A ;
  text-align: center;
  
}

ul{
       list-style:none;
}



.navbar-brand {
color: #12F55A !important;
}


.nav-link {
color: #12F55A !important;
}

.navbar-nav li{
       display: inline-block;
   }



.container-fluid{
       width: calc(80%);
       height: calc(80%);
       margin-top: 10px;
       margin-bottom: 10px;
}



#top-gif{
      
       width: calc(60%);
       height: calc(60%);
       margin-top: 10px;
       margin-bottom: 10px;

}

.center {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 100%;
     }

 
#github-icon{
       width: 200px;
       height: 200px;
       color: #344feb;
       margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
       margin-left: 5px;
       
}


#conteiner-carousel{
       align: center;
       width: calc(50%);
       height: calc(50%);
       margin-top: 50px;
       margin-bottom: 50px;
}


.icons-images{
       width: calc(10%);
       height: calc(10%);
       color: #344feb;
        margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
      margin-left: 5px;
}
.icons-images-social{
       width: 200px;
       height: 200px;
        margin-top: 5px  ;
       margin-bottom: 5px ;
       margin-right: 5px;
      margin-left: 5px;
}

aside{
    float:right;
    background-color: #202121;
    color: white;
    overflow: hidden;
    padding: 1%;
    height: auto;
    width: auto;
}





.section_container{
       float: center
       width: calc(50%);
       height: calc(50%);
       margin: auto;
       margin-top: 10px;
       margin-bottom: 10px;
}